<table>
	<tr>
		<td>
			<label>1. Is uw bedrijf gekwalificeerd als BZRO?</label>
		</td>
	</tr>
	
	<% if @answer1_question1 %>
	<tr>
		<td>
			&nbsp; &nbsp; <%= @answer1_question1 %>
		</td>
	</tr>
	<% end %>

	<tr>
		<td>
			<label>2. Heeft u een risicoanalyse uitgevoerd? (laten uitvoeren?)</label>
		</td>
	</tr>

	<% if @answer1_question2 %>
	<tr>
		<td>
			&nbsp; &nbsp; <%= @answer1_question2 %>
		</td>
	</tr>
	<% end %>

	<tr>
		<td>
			<label>3. Welke risico's wilt u afdekken met beveiliging?</label>
		</td>
	</tr>

	<% if @answer1_question3 %>
	<tr>
		<td>
			&nbsp; &nbsp; <%= @answer1_question3 %>
		</td>
	</tr>
	<% end %>

	<% if @answer2_question3 %>
	<tr>
		<td>
			&nbsp; &nbsp; <%= @answer2_question3 %>
		</td>
	</tr>
	<% end %>

	<% if @answer3_question3 %>
	<tr>
		<td>
			&nbsp; &nbsp; <%= @answer3_question3 %>
		</td>
	</tr>
	<% end %>

	<tr>
		<td>
			<label>4. Heeft u zelf beveiligingspersoneel in huis?</label>
		</td>
	</tr>

	<% if @answer1_question4 %>
	<tr>
		<td>
			&nbsp; &nbsp; <%= @answer1_question4 %>
		</td>
	</tr>
	<% end %>

	<tr>
		<td>
			<label>5. Welke taken wilt u neerleggen big Dimarsec?</label>
		</td>
	</tr>

	<% if @answer1_question5 %>
	<tr>
		<td>
			&nbsp; &nbsp; <%= @answer1_question5 %>
		</td>
	</tr>
	<% end %>

	<% if @answer2_question5 %>
	<tr>
		<td>
			&nbsp; &nbsp; <%= @answer2_question5 %>
		</td>
	</tr>
	<% end %>

	<% if @answer3_question5 %>
	<tr>
		<td>
			&nbsp; &nbsp; <%= @answer3_question5 %>
		</td>
	</tr>
	<% end %>

	<tr>
		<td>
			<label>6. Heeft u ook, niet tijdgebonden, aanvullende taken die u wilt uitbesteden aan Dimarsec beveiliging?</label>
		</td>
	</tr>

	<% if @answer1_question6 %>
	<tr>
		<td>
			&nbsp; &nbsp; <%= @answer1_question6 %>
		</td>
	</tr>
	<% end %>

	<% if @answer2_question6 %>
	<tr>
		<td>
			&nbsp; &nbsp; <%= @answer2_question6 %>
		</td>
	</tr>
	<% end %>

	<% if @answer3_question6 %>
	<tr>
		<td>
			&nbsp; &nbsp; <%= @answer3_question6 %>
		</td>
	</tr>
	<% end %>

	<tr>
		<td>
			<label>7. Wat is de looptijd van uw opdracht?</label>
		</td>
	</tr>

	<% if @answer1_question7 %>
	<tr>
		<td>
			&nbsp; &nbsp; <%= @answer1_question7 %>
		</td>
	</tr>
	<% end %>

	<tr>
		<td>
			<label>8. Op welke tijden wilt u gebruik van maken van Dimarsec beveiliging?</label>
		</td>
	</tr>

	<% if @answer1_question8 %>
	<tr>
		<td>
			&nbsp; &nbsp; <%= @answer1_question8 %>
		</td>
	</tr>
	<% end %>

	<% if @answer2_question8 %>
	<tr>
		<td>
			&nbsp; &nbsp; <%= @answer2_question8 %>
		</td>
	</tr>
	<% end %>

	<tr>
		<td>
			<label>9. Welke bezetting heeft u in gedachten (aantal mensen per dienst per locatie)?</label>
		</td>
	</tr>

	<% if @answer1_question9 %>
	<tr>
		<td>
			&nbsp; &nbsp; <%= @answer1_question9 %>
		</td>
	</tr>
	<% end %>

	<% if @answer2_question9 %>
	<tr>
		<td>
			&nbsp; &nbsp; <%= @answer2_question9 %>
		</td>
	</tr>
	<% end %>

	<tr>
		<td>
			<label>10. Wie is uw huidige leverancier?</label>
		</td>
	</tr>

	<% if @answer1_question10 %>
	<tr>
		<td>
			&nbsp; &nbsp; <%= @answer1_question10 %>
		</td>
	</tr>
	<% end %>

	<tr>
		<td>
			<label>11. Wat zijn wij vergeten te vragen?</label>
		</td>
	</tr>

	<% if @answer1_question11 %>
	<tr>
		<td>
			&nbsp; &nbsp; <%= @answer1_question11 %>
		</td>
	</tr>
	<% end %>

	<% if @answer2_question11 %>	
	<tr>
		<td>
			&nbsp; &nbsp; <%= @answer2_question11 %>
		</td>
	</tr>
	<% end %>

	<% if @answer3_question11 %>
	<tr>
		<td>
			&nbsp; &nbsp; <%= @answer3_question11 %>
		</td>
	</tr>
	<% end %>

	<% if @answer4_question11 %>
	<tr>
		<td>
			&nbsp; &nbsp; <%= @answer4_question11 %>
		</td>
	</tr>
	<% end %>

	<% if @answer5_question11 %>
	<tr>
		<td>
			&nbsp; &nbsp; <%= @answer5_question11 %>
		</td>
	</tr>
	<% end %>

</table>
