<div class="form-page clearfix">
	<div class="content clearfix">
        <img src="/assets/klant.jpg" alt="" class="fright" />
        <h1 class="title-page">Klant worden</h1>
        <p>Nieuwe klanten zijn van harte welkom. Uiteraard willen wij u graag helpen met onze beveiligingsdienstverlening. Het is echter van groot belang dat uw bedrijf past binnen onze specialisatiedoelgroep. Alleen dan kunnen wij de oplossingen bieden die u zoekt.</p>
        <p>Daarom vragen wij u om onderstaande vragen te beantwoorden zodat wij samen kunnen bepalen of een toekomstige samenwerking een goede kans van slagen heeft.</p>
        <p>Door vooraf tijd en aandacht te schenken aan onze wederzijdse wensen en verwachtingen, besparen we straks veel tijd en energie met het herstellen van zaken die niet fout hadden hoeven gaan.</p>
   	</div>
    <div class="form-box">
    	<h3 class="head-title-page">Contactgegevens</h3>
        <form class="form-horizontal large-form" action="" method="post">
            <div class="control-group">
                <label class="control-label" for="in-name">Naam:</label>
                <div class="controls">
                    <input type="text" id="in-name" name="in-name" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="in-functie">Functie:</label>
                <div class="controls">
                    <input type="text" id="in-functie" name="in-functie" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="in-telefoonnummer">Telefoonnummer:</label>
                <div class="controls">
                    <input type="text" id="in-telefoonnummer" name="in-telefoonnummer" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="in-emailadres">Emailadres:</label>
                <div class="controls">
                    <input type="text" id="in-emailadres" name="in-emailadres" />
                </div>
            </div>
        </form>
    </div>
    
    
    <div class="form-box">
    	<h3 class="head-title-page">Over de beveiliging</h3>
        <form class="block-form xlarge-form" action="<%=klant_worden_action_path%>" method="post">
            <div class="control-group">
                <label>1. Is uw bedrijf gekwalificeerd als BZRO?</label>
                <%= text_field_tag "answer1_question1" %>
				
            </div>
            <div class="control-group">
                <label>2. Heeft u een risicoanalyse uitgevoerd? (laten uitvoeren?)</label>
                <%= text_field_tag "answer1_question2" %>
            </div>
            <div class="control-group">
                <label>3. Welke risico's wilt u afdekken met beveiliging?</label>
                <%= text_field_tag "answer1_question3" %>
                <%= text_field_tag "answer2_question3" %>
                <%= text_field_tag "answer3_question3" %>
            </div>
            <div class="control-group">
                <label>4. Heeft u zelf beveiligingspersoneel in huis?</label>
                <%= text_field_tag "answer1_question4" %>
            </div>
            <div class="control-group">
                <label>5. Welke taken wilt u neerleggen big Dimarsec?</label>
                <%= text_field_tag "answer1_question5" %>
                <%= text_field_tag "answer2_question5" %>
                <%= text_field_tag "answer3_question5" %>
            </div>
            <div class="control-group">
                <label>6. Heeft u ook, niet tijdgebonden, aanvullende taken die u wilt uitbesteden aan Dimarsec beveiliging?</label>
                <%= text_field_tag "answer1_question6" %>
                <%= text_field_tag "answer2_question6" %>
                <%= text_field_tag "answer3_question6" %>
            </div>
            <div class="control-group">
                <label>7. Wat is de looptijd van uw opdracht?</label>
                <%= text_field_tag "answer1_question7" %>
            </div>
            <div class="control-group">
                <label>8. Op welke tijden wilt u gebruik van maken van Dimarsec beveiliging?</label>
                <%= text_field_tag "answer1_question8" %>
                <%= text_field_tag "answer2_question8" %>
            </div>
            <div class="control-group">
                <label>9. Welke bezetting heeft u in gedachten (aantal mensen per dienst per locatie)?</label>
                <%= text_field_tag "answer1_question9" %>
                <%= text_field_tag "answer2_question9" %>
            </div>
            <div class="control-group">
                <label>10. Wie is uw huidige leverancier?</label>
                <%= text_field_tag "answer1_question10" %>
            </div>
            <div class="control-group">
                <label>11. Wat zijn wij vergeten te vragen?</label>
                <%= text_field_tag "answer1_question11" %>
                <%= text_field_tag "answer2_question11" %>
                <%= text_field_tag "answer3_question11" %>
                <%= text_field_tag "answer4_question11" %>
                <%= text_field_tag "answer5_question11" %>
            </div>
            <div class="form-actions">
                <input type="submit" value="Submit" class="org-btn fright" />
            </div>
        </form>
    </div>    
    
</div>