<div class="row-wrap clearfix">
	<h3 class="head-title-page">Advies waarmee wij u werk uit handen nemen, advies waardoor u minder u werk</h3>
    <div>Elke markt stelt zijn eigen eisen aan beveiliging. Die eisen zijn bij ons bekend waardoor wij u uitstekend van advies kunnen voorzien.</div>
</div>
<div class="row-wrap nobor clearfix">
    
    
    <div class="clearfix">
    	<div class="span7 poll-col">	
        	<form method="post" action="<%= check_test_action_path %>">
                <div class="control-group">
                    <h3>Vraag 1: Is uw bedrijf gekwalificeerd als BZRO?</h3>
                    <label class="radio">
                        <%= radio_button_tag(:answer1, "a") %>
                        <%= label_tag(:answer1_child, "a: Option one is this and that—be sure to include why it's great") %>
                    </label>
                    <label class="radio">
                        <%= radio_button_tag(:answer1, "b") %>
                        <%= label_tag(:answer1_child, "b: Option two can be something else and selecting it will deselect option one") %>
                    </label>
                    <label class="radio">
                        <%= radio_button_tag(:answer1, "c") %>
                        <%= label_tag(:answer1_child, "c: Option two can be something else and selecting it will deselect option one") %>
                    </label>
                </div>
                <div class="control-group">
                    <h3>Vraag 2: Option two can be something else and selecting it will deselect option one</h3>
                    <label class="radio">
                        <%= radio_button_tag(:answer2, "a") %>
                        <%= label_tag(:answer1_child, "a: Option one is this and that—be sure to include why it's great") %>
                    </label>
                    <label class="radio">
                        <%= radio_button_tag(:answer2, "b") %>
                        <%= label_tag(:answer1_child, "b: Option two can be something else and selecting it will deselect option one") %>
                    </label>
                    <label class="radio">
                        <%= radio_button_tag(:answer2, "c") %>
                        <%= label_tag(:answer1_child, "c: Option two can be something else and selecting it will deselect option one") %>
                    </label>
                </div>
                <div class="control-group">
                    <h3>Vraag 3: Option two can be something else and selecting it will deselect option one</h3>
                    <label class="radio">
                        <%= radio_button_tag(:answer3, "a") %>
                        <%= label_tag(:answer1_child, "a: Option one is this and that—be sure to include why it's great") %>
                    </label>
                    <label class="radio">
                        <%= radio_button_tag(:answer3, "b") %>
                        <%= label_tag(:answer1_child, "b: Option two can be something else and selecting it will deselect option one") %>
                    </label>
                    <label class="radio">
                        <%= radio_button_tag(:answer3, "c") %>
                        <%= label_tag(:answer1_child, "c: Option two can be something else and selecting it will deselect option one") %>
                    </label>
                </div>
                <div class="control-group">
                    <h3>Vraag 4: Option two can be something else and selecting it will deselect option one</h3>
                    <label class="radio">
                        <%= radio_button_tag(:answer4, "a") %>
                        <%= label_tag(:answer1_child, "a: Option one is this and that—be sure to include why it's great") %>
                    </label>
                    <label class="radio">
                        <%= radio_button_tag(:answer4, "b") %>
                        <%= label_tag(:answer1_child, "b: Option two can be something else and selecting it will deselect option one") %>
                    </label>
                    <label class="radio">
                        <%= radio_button_tag(:answer4, "c") %>
                        <%= label_tag(:answer1_child, "c: Option two can be something else and selecting it will deselect option one") %>
                    </label>
                </div>
                <div class="control-group">
                    <h3>Vraag 5: Option two can be something else and selecting it will deselect option one</h3>
                    <label class="radio">
                        <%= radio_button_tag(:answer5, "a") %>
                        <%= label_tag(:answer1_child, "a: Option one is this and that—be sure to include why it's great") %>
                    </label>
                    <label class="radio">
                        <%= radio_button_tag(:answer5, "b") %>
                        <%= label_tag(:answer1_child, "b: Option two can be something else and selecting it will deselect option one") %>
                    </label>
                    <label class="radio">
                        <%= radio_button_tag(:answer5, "c") %>
                        <%= label_tag(:answer1_child, "c: Option two can be something else and selecting it will deselect option one") %>
                    </label>
                </div>
                <div class="control-group">
                    <h3>Vraag 6: Option two can be something else and selecting it will deselect option one</h3>
                    <label class="radio">
                        <%= radio_button_tag(:answer6, "a") %>
                        <%= label_tag(:answer1_child, "a: Option one is this and that—be sure to include why it's great") %>
                    </label>
                    <label class="radio">
                        <%= radio_button_tag(:answer6, "b") %>
                        <%= label_tag(:answer1_child, "b: Option two can be something else and selecting it will deselect option one") %>
                    </label>
                    <label class="radio">
                        <%= radio_button_tag(:answer6, "c") %>
                        <%= label_tag(:answer1_child, "c: Option two can be something else and selecting it will deselect option one") %>
                    </label>
                </div>
                <div class="control-group">
                    <h3>Vraag 7: Option two can be something else and selecting it will deselect option one</h3>
                    <label class="radio">
                        <%= radio_button_tag(:answer7, "a") %>
                        <%= label_tag(:answer1_child, "a: Option one is this and that—be sure to include why it's great") %>
                    </label>
                    <label class="radio">
                        <%= radio_button_tag(:answer7, "b") %>
                        <%= label_tag(:answer1_child, "b: Option two can be something else and selecting it will deselect option one") %>
                    </label>
                    <label class="radio">
                        <%= radio_button_tag(:answer7, "c") %>
                        <%= label_tag(:answer1_child, "c: Option two can be something else and selecting it will deselect option one") %>
                    </label>
                </div>
                <div class="control-group">
                    <h3>Vraag 8: Option two can be something else and selecting it will deselect option one</h3>
                    <label class="radio">
                        <%= radio_button_tag(:answer8, "a") %>
                        <%= label_tag(:answer1_child, "a: Option one is this and that—be sure to include why it's great") %>
                    </label>
                    <label class="radio">
                        <%= radio_button_tag(:answer8, "b") %>
                        <%= label_tag(:answer1_child, "b: Option two can be something else and selecting it will deselect option one") %>
                    </label>
                    <label class="radio">
                        <%= radio_button_tag(:answer8, "c") %>
                        <%= label_tag(:answer1_child, "c: Option two can be something else and selecting it will deselect option one") %>
                    </label>
                </div>
                <div class="control-group">
                    <h3>Vraag 9: Option two can be something else and selecting it will deselect option one</h3>
                    <label class="radio">
                        <%= radio_button_tag(:answer9, "a") %>
                        <%= label_tag(:answer1_child, "a: Option one is this and that—be sure to include why it's great") %>
                    </label>
                    <label class="radio">
                        <%= radio_button_tag(:answer9, "b") %>
                        <%= label_tag(:answer1_child, "b: Option two can be something else and selecting it will deselect option one") %>
                    </label>
                    <label class="radio">
                        <%= radio_button_tag(:answer9, "c") %>
                        <%= label_tag(:answer1_child, "c: Option two can be something else and selecting it will deselect option one") %>
                    </label>
                </div>
                <div class="control-group">
                    <h3>Vraag 10: Option two can be something else and selecting it will deselect option one</h3>
                    <label class="radio">
                        <%= radio_button_tag(:answer10, "a") %>
                        <%= label_tag(:answer1_child, "a: Option one is this and that—be sure to include why it's great") %>
                    </label>
                    <label class="radio">
                        <%= radio_button_tag(:answer10, "b") %>
                        <%= label_tag(:answer1_child, "b: Option two can be something else and selecting it will deselect option one") %>
                    </label>
                    <label class="radio">
                        <%= radio_button_tag(:answer10, "c") %>
                        <%= label_tag(:answer1_child, "c: Option two can be something else and selecting it will deselect option one") %>
                    </label>
                </div>
                <div class="control-group last">
                    <h3>Vraag 11: Option two can be something else and selecting it will deselect option one</h3>
                    <label class="radio">
                        <%= radio_button_tag(:answer11, "a") %>
                        <%= label_tag(:answer1_child, "a: Option one is this and that—be sure to include why it's great") %>
                    </label>
                    <label class="radio">
                        <%= radio_button_tag(:answer11, "b") %>
                        <%= label_tag(:answer1_child, "b: Option two can be something else and selecting it will deselect option one") %>
                    </label>
                    <label class="radio">
                        <%= radio_button_tag(:answer11, "c") %>
                        <%= label_tag(:answer1_child, "c: Option two can be something else and selecting it will deselect option one") %>
                    </label>
                </div>
                <div class="form-actions">
                    <input type="submit" value="Submit" class="org-btn fright" />
                </div>
                
            </form>
        </div>
        <div class="span5">
        	<div class="call-col">
                <p>Wil je weten wat <br/> Dimardec voor jou kan<br/> betekenen als <br/> werkgever?</p>
                <p>Ben je beveiliger en <br/> twijfel he over je <br/> kwalificaties?</p>
                <a href="#" class="big-call-action">Neem vandaag nog <br/> contact  met ons op!</a>
            </div>
        </div>
    </div>
    
</div>     