<div class="row-wrap nobor clearfix">
    <h1 class="title-score">Your Score: <%= 14 - session[:true_answer].to_i %> fout</h1>
    <div class="wrapper-span">
    	<div class="span4">
        	<div class="span-box">
            	<h2>0 tot 4 fout</h2>
                <div class="span-body">
                    Proficiat, u heeft de vragen goed genoeg beantwoord en wordt nu doorgeschakeld naar onze contactpagina zodat u uw gegevens kunt achterlaten. Wij nemen dan snel contact met u op.   
                </div>
            </div>
            <% if (14 - session[:true_answer].to_i) > 3 %>
                <a href="<%= sollicitatie_formulier_path %>" class="org-btn" onclick="return false">Knop: doe de test opnieuw</a>
            <% else %>
                <a href="<%= sollicitatie_formulier_path %>" class="org-btn">Knop: doe de test opnieuw</a>
            <% end %>         
        </div>
        <div class="span4">
        	<div class="span-box">
            	<h2>4 tot 6 fout</h2>
                <div class="span-body">
                </br></br>
                	Dit is helaas niet genoeg.</br> 
                    Probeer de test opnieuw.
                </div>
            </div>
            <a href="<%= solliciteren_path %>" class="org-btn">Knop: doe de test opnieuw</a>
        </div>
        <div class="span4">
        	<div class="span-box">
            	<h2>6 tot 14 fout</h2>
                <div class="span-body">
                </br></br>
                	Blijf doen wat u doet en zie af van een carrière bij Dimarsec.
                </div>
            </div>
            <a href="<%= root_path %>" class="org-btn">Knop: Escape and exit</a>
        </div>
    </div>
</div>   