<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Dimarsec</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>  
	<meta http-equiv="description" content="" />
	<meta http-equiv="keywords" content="" />
</head>
<body>
<div class="wraper-full clearfix">
    <div id="header" class="clearfix">
        <div class="logo"><a href="#" title="Dimarsec">Dimarsec</a></div>
        <div id="nav">
            <ul class="unstyled clearfix">                                           
              <li class="<%='active' if params[:action]=='index'%>">
                <%= link_to("Home", root_path) %>
              </li>
              <li class="<%='active' if params[:action]=='over_ons'%>">
                <%= link_to("Over Ons", over_ons_path) %>
              </li>
              <li class="<%='active' if params[:action]=='werkwijze'%>">
                <%= link_to("Werkwijze", werkwijze_path) %>
              </li>
              <li class="<%='active' if params[:action]=='solliciteren'%>">
                <%= link_to("Solliciteren", solliciteren_path) %>
              </li>
              <li class="last<%=' active' if params[:action]=='klant_worden'%>">
                <%= link_to("Klant Worden?", klant_worden_path) %>
              </li>
            </ul>		
        </div>
    </div><!-- #header --> 
    <div id="middle">		
    	<%= yield %>        
    </div><!-- #middle -->
    <div id="footer">
    	<div class="row-wrap contact-row clearfix">
        	<div class="col1">
            	<h3>Contact Us!</h3>
                <div class="ct-body">
                    <p><strong>Telephone: </strong> <span>4839-3434-43453</span></p>
                    <p><strong>Fax: </strong> <span>23434034-34434</span></p>
                    <p><strong>Email: </strong> <span>info@dimarsec.nl
                </div>
            </div>
            <div class="col2">
            	<h3>Share Us!</h3>
                <div class="ct-body social">
                	<a href="#" title="Facebook" target="_blank">Facebook</a>
                    <a href="#" class="tw" title="Twitter" target="_blank">Twitter</a>
                    <a href="#" class="li" title="LinkedIn" target="_blank">LinkedIn</a>
                </div>
            </div>
            <div class="col3">
            	<h3>Subscribe!</h3>
                <div class="ct-body newsletter">
                	<form action="" method="post" id="form-newsletter">
                    	<input type="text" placeholder="Enter Email" name="email" />
                        <input type="submit" class="org-btn" value="Send"  />
                    </form>	
                </div>
            </div>
        </div>
        <div class="footer-under clearfix">
            <div class="left-footer">  
                Dutch industrial & Maritime Security Compane
            </div>
            <div class="right-footer">  
                <em><strong>Copyright ©2012 Dimarsec</strong> All rights reserved</em>
            </div>	
       </div>
    </div><!-- #footer -->
</div>
</body>
</html>
