<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Dimarsec</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>  
	<meta http-equiv="description" content="" />
	<meta http-equiv="keywords" content="" />
</head>
<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=325004784270336";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="wraper-full clearfix">
    <div id="header" class="clearfix">
        <div class="logo"><a href="#" title="Dimarsec">Dimarsec</a></div>
        <div id="nav">
            <ul class="unstyled clearfix">                                           
              <li class="<%='active' if params[:action]=='index'%>">
                <%= link_to("Home", root_path) %>
              </li>
              <li class="<%='active' if params[:action]=='over_ons'%>">
                <%= link_to("Over Ons", over_ons_path) %>
              </li>
              <li class="<%='active' if params[:action]=='werkwijze'%>">
                <%= link_to("Werkwijze", werkwijze_path) %>
              </li>
              <li class="<%='active' if params[:action]=='solliciteren'%>">
                <%= link_to("Solliciteren", solliciteren_action_path) %>
              </li>
              <li class="last<%=' active' if params[:action]=='klant_worden'%>">
                <%= link_to("Klant Worden?", klant_worden_path) %>
              </li>
            </ul>		
        </div>
    </div><!-- #header --> 
    <div id="middle">		
    	<%= yield %>        
    </div><!-- #middle -->
    <div id="footer">
      <div class="row-wrap contact-row clearfix">
          <div class="col1">
              <h3>Neem contact met ons op</h3>
              <div class="ct-body">
                  <p><strong>Telefoon</strong> <span>+316-52311073</span></p>
                  <p><strong>Email</strong> <span>info@dimarsec.com</span></p>
                  <p><strong>Adres</strong> <span>Kerstant van den Bergelaan 19A <br/> 2054EM Rotterdam  <br/> Nederland</span></p>
              </div>
          </div>
          <div class="col2">
              <h3>Volg ons</h3>
              <div class="ct-body social">
                <a href="https://twitter.com/Dimarsec" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @Dimarsec</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

                <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
                <script type="IN/Share" data-url="http://www.linkedin.com/company/2900891?trk=company_search"></script>

                <div class="fb-follow" data-href="http://www.facebook.com/pages/Dimarsec/525424404156610" data-layout="button_count" data-show-faces="true" data-width="60"></div>
                        
              </div>
          </div>
          <div class="col3">
              <h3>Blijf op de hoogte</h3>
              <div class="ct-body newsletter">
                  <form action="<%=  send_subscribe_email_action_path %>" method="post" id="form-newsletter">
                      <%= email_field_tag("email", "Voer email adres in")%>
                      <input type="submit" class="org-btn" value="Inschrijven voor nieuwsbrief"  />
                  </form> 
              </div>
          </div>
      </div>
      <div class="footer-under clearfix">
          <div class="left-footer">  
              Dutch Industrial & Maritime Security Compane
          </div>
          <div class="right-footer">  
              <em><strong>Copyright ©2012 Dimarsec</strong> All rights reserved</em>
          </div>  
      </div>
    </div><!-- #footer -->
</div>
</body>
</html>
